html {
    height: 100%;
    width: 100%;
  }
  
body {
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
  }
  
#root {
    height: 100%;
  }
  
  
Link {
    color: var(--color-text);
  }
  
  
a {
    color: var(--color-text);
    text-decoration: none;

    color: #fcf7eb
  }


:root {
  color: #112139;
    --color-text: #803813; 
    --color-background: #fff2eb;
  }

  .email {
    border: 2px solid var(--color-text);
  }

@font-face {
	font-family: 'Hero';
	src: url('../utils/font/Hero.otf') format('opentype')
}

@font-face {
	font-family: 'Garamond';
	src: url('../utils/font/Garamond.ttf') format('truetype')
}

@font-face {
	font-family: 'Seasons';
	src: url('../utils/font/seasons.otf') format('opentype')
}

.hero {
  font-family: 'Hero', sans-serif;
}

.garamond {
  font-family: 'Garamond', sans-serif;
}

.seasons {
  font-family: 'Seasons', sans-serif;
}


/* Navbar */
.navbar-client {
  position: fixed;
  font-family: 'Garamond', sans-serif;
  width: 100vw;
  position: fixed;
  top: 0;
  font-size: 15px;
  display: flex;
  color: var(--color-text);
  font-weight: bold;
  justify-content: space-around;
  padding: 10px 0;
  background-color: var(--color-background);
  z-index: 1000;
  letter-spacing: 2px;
  height: 25px;
  border-bottom: 1px solid var(--color-text);
  align-items: center;
}

.navbar-client div {
  cursor: pointer;
  transition: transform 0.3s;
}

.navbar-client div:hover {
transform: scale(1.1);
}

.navbar-dropdown {
  visibility: hidden;
  display: none;
}

.navbar-dropdown-admin {
  visibility: hidden;
  display: none;
}

.navbar-client h2 {
  font-size: 15px;
  margin: 0;
}


#services {
  visibility: hidden;
  position: absolute;
  left: 20%;
  top: 50px;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-background);
  text-align: center;
  border: 2px solid var(--color-text);
}

#services:hover {
  transform: none;
}

#services div:hover {
  transform: none;
}





/* firstSIGHT */
.first-sight-container {
  background: var(--color-background); 
  width: 100%;
  min-height: 100vh;
  display: flex;  
}

.first-sight-content {
  width: 50%;
  min-height: 100%;
  color: var(--color-text);
  text-align: center;
}

.first-sight-container h1{
  margin: 0;
  font-weight: 100;
}

.first-sight-container .first-text {
  font-size: 12px;
  position: relative;
  top: 13vh;
  letter-spacing: 3px;

}

.first-sight-container .second-text {
  font-size: 16px;
  position: relative;
  top: 25vh;
  font-style: italic;
}

.first-sight-container .third-text {
  font-size: 42px;
  position: relative;
  top: 35vh;
  line-height: 55px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@keyframes colorChange{
  0% {
    border: 2px solid var(--color-text) ;
    color: var(--color-text);
    background-color:transparent;
  }

  100% {
    color: var(--color-background);
    background-color:var(--color-text);
  }
}


.button-anim {
  animation: pulse 3s infinite;  
}

.button-anim:hover {
  animation: pulse 3s infinite, colorChange 0.5s forwards;
}  

.first-sight-container button {
  background-color:transparent;
  cursor: pointer;
  padding: 15px;
  letter-spacing: 4px;
  position: relative;
  top: 50vh;
  border: 2px solid var(--color-text) ;
  color: var(--color-text);
  
}



/* secondSIGHT */
.second-sight {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-background);
  align-items: center;
  color: var(--color-text);
  justify-content: center;
}


@keyframes dropdownOpacity {
  from {
  opacity: 0.8;
  }
  to {
   opacity: 0.4;
  }
}


.second-sight-icon-down {
  cursor: pointer;
  animation: dropdownOpacity 1s infinite alternate;
}

.second-sight .first-text {
  font-size: 30px;
  width: 70%;
  line-height: 40px;
  font-weight: 100;
}

.second-sight .second-text {
  font-size: 20px;
  line-height: 30px;
  width: 60%;
}

.second-sight .second-text span {
width: 100%;
display: flex;
justify-content: right;
font-weight: bold;
}

.second-sight button {
  background-color:transparent;
  cursor: pointer;
  padding: 15px;
  letter-spacing: 4px;
  position: relative;
  top: 30vh;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.flower1 {
  position: absolute;
  left: -25px;
  top: 98vh;
  opacity: 0.3;
}

.flower2 {
  position: absolute;
  right: 0;
  top: 135vh;
  opacity: 0.3;
}

.flower3 {
  position: absolute;
  opacity: 0.3;
  width: 200px;
  top: 1400px;
  z-index: -1000;

}

.flower5 {
  position: absolute;
  opacity: 0.3;
  width: 200px;
  left: 40%;
  display: none;
  z-index: -1000;

}

.flower6 {
  position: absolute;
  opacity: 0.3;
  width: 200px;
  left: 43%;
  z-index: -1000;

}

.flower7 {
  position: absolute;
  opacity: 0.3;
  width: 200px;
  right: 20px;
  top: 2100px;
  z-index: -1000;

}



.flower10 {
  position: absolute;
  opacity: 0.3;
  width: 200px;
  left: 50px;
  top: 2400px;
  z-index: -1000;

}


.papillon1 {
  position: absolute;
  width: 200px;
  right: 35%;
  top: 100px;
  right: 50px;
  opacity: 0.3;

}

.flower8 {
  position: absolute;
  opacity: 0.3;
  width: 200px;
  bottom: -50px;
  left: 400px;
  z-index: -1000;

}

.flower9 {
  position: absolute;
  opacity: 0.3;
  width: 200px;
  bottom: 400px;
  right: -650px;
  z-index: -1000;

}

.papillon2 {
  position: absolute;
  width: 200px;
  opacity: 0.3;
  left: 10px;
  z-index: -1000;

}




/* thirdSIGHT */
.third-sight {
  width: 100%;
  font-family: 'garamond', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.third-sight .first-line {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
}



.third-sight .second-line {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

 .third-sight .first-line div, .third-sight .second-line div {
  transition: transform 0.3s; /* Ajoute une transition fluide de 0.3 secondes */
}

.third-sight .first-line div:hover, .third-sight .second-line div:hover{
  transform: scale(1.1); /* Applique une transformation d'échelle de 1.1 au survol de la souris */
}



.third-sight div {
  width: 45%;
}

.third-sight .img-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.img-container-com {
  background-image: url('../utils/img/litle-img-com1.webp');
  background-size: cover;
  background-position: -80px 0;
}

.img-container-bio {
  background-image: url('../utils/img/litle-img-bio.webp');
  background-size: cover;
  background-position: 0px -40px;
}

.img-container-rec {
  background-image: url('../utils/img/litle-img-rec1.webp');
  background-size: cover;
  background-position: -100px 20px;
}

.img-container-ora {
  background-image: url('../utils/img/litle-img-ora1.webp');
  background-size: cover;
  background-position: -80px 0;
}

/* .third-sight img {
  width: 100%;
} */

.third-sight h2 {
  color: var(--color-text);
}

.third-sight p {
  font-size: 18px;
  font-weight: bold;
}

.acceuil-bio, .acceuil-com, .acceuil-rec, .acceuil-ora {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-sight a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Acceuil presentation */
.acceuil-presentation-container {
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
}

.acceuil-presentation-content {
 width: 100%;
 display: flex;
 flex-direction: row;
 min-height: 100vh;
 background-color: var(--color-background);
 padding-top: 30px;
 color: var(--color-text);
}

.acceuil-presentation-content .img-container {
  width: 40%;
 }

 .acceuil-presentation-content .text-container {
  padding:  50px 100px;
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  justify-content: space-around;
  
 }

 .acceuil-presentation-content .text-container h2 {
font-weight: 100;
font-size: 35px; 
margin: 0;
}

.acceuil-presentation-content .text-container h3 {
  font-family: 'Garamond', sans-serif;
  font-style: italic; 
  font-size: 20px; 
  margin: 0;

}

.acceuil-presentation-content .text-container p  {
  font-family: 'Garamond', sans-serif;
  font-size: 25px; 
  font-weight: normal;
}

.acceuil-presentation-content button {
  background-color:transparent;
  cursor: pointer;
  padding: 15px;
  letter-spacing: 4px;
  width: 300px;
  margin: 0 auto;
  line-height: 25px;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  font-weight: bold;
}

.acceuil-presentation-container #page-number {
  color: var(--color-text);
  font-size: 50px;
  margin: 0;
}

#com .img-container {
  background-image: url('../utils/img/img-com1.webp');
  background-size: cover;
  background-position: -80px 0;
}

#com1 .img-container {
  background-image: url('../utils/img/img-com2.webp');
  background-size: 220%;
  background-size: cover;
  background-position: -260px 0;
}

#rec .img-container {
  background-image: url('../utils/img/img-rec.webp');
  background-size: 200% ;
  background-position: -80px 0;
  background-size: cover;
}

#rec1 .img-container {
  background-image: url('../utils/img/img-rec1.webp');
  background-position: -80px 0; 
  background-size: cover;
}

#rec2 .img-container {
  background-image: url('../utils/img/img-rec2.webp');
  background-size: 200% ;
  background-position: 0 0;
  background-size: cover;
}

#bio .img-container {
  background-image: url('../utils/img/img-bio.webp');
  background-size: 180% ;
  background-position: -400px 0;
  background-size: cover;

}

#bio1 .img-container {
  background-image: url('../utils/img/img-bio1.webp');
  background-size: 185% ;
  background-size: cover;

  background-position: -220px 0;
}

#bio2 .img-container {
  background-image: url('../utils/img/img-bio2.webp');
  background-size: 210% ;
  background-position: -350px 0;
  background-size: cover;

}

#ora .img-container {
  background-image: url('../utils/img/litle-img-ora1.webp');
  background-size: 210% ;
  background-position: -350px 0;
  background-size: cover;

}

#ora1 .img-container {
  background-image: url('../utils/img/img-ora2.webp');
  background-size: 210% ;
  background-position: -150px 0;
  background-size: cover;

}

#rdv .img-container {
  background-image: url('../utils/img/img-rdv1.webp');
  background-size: cover;

}

.img-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}




/* acceuil-rendez-vous */
.acceuil-rendez-vous {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  text-align: center;
}

.acceuil-rendez-vous div {
  width: 50%; 
  padding: 50px 100px;
}

.acceuil-rendez-vous .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.acceuil-rendez-vous h2 {
  font-size: 30px;
  font-family: 'Seasons', sans-serif;
  letter-spacing: 2px;
  line-height: 40px;
}

.acceuil-rendez-vous p {
  font-size: 25px;
  font-family: 'Garamond', sans-serif;
  letter-spacing: 3px;
}
 #rdv p {
  transition: transform 0.3s;
 }

 #rdv p:hover { transform: scale(1.1);
}



/* Acceuil Avis */
.avis-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px ;
}
.avis {
  min-height: 80%;
  padding: 0 50px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.avis img {
  margin-bottom: 20px;
}

.avis p {
  font-size: 20px;
  font-family: 'Garamond', sans-serif;
  letter-spacing: 1px;
}

.avis .color {
  color: var(--color-text);
  font-weight: bold;
}


/* Acceuil Contact */
.contact-container {
  width: 100%;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-energie {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 25px;
  margin-left: 100px;
}

.contact-container h3 {
  font-family: 'seasons', sans-serif ;
  letter-spacing: 3px;
  color: var(--color-text);
  font-size: 25px;
}

.contact-container p {
  font-family: 'Garamond', sans-serif;
  font-size: 20px;
}

.contact-content {
  display: flex;
  width: 50%;
  justify-content: space-around;
  position: relative;
  top: 50px;
}

.contact-icones-reseaux {
  width: 100%;
  color: var(--color-text);
  display: flex;
  justify-content: right;
  position: relative;
  right: 50px;
}

.contact-icones-reseaux svg {
  margin: 0 15px;
}

/* Form */

.return-home {
  position: absolute;
  font-family: 'Garamond', sans-serif;
  font-weight: bold;
  left: 15px;
  top: 15px;
  color: var(--color-text);
  letter-spacing: 2px;
}

.contact-bio, .contact-com, .contact-rec, .contact-ora {
    background-color: var(--color-background);
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.contact-presentation {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 100px ;
}

.contact-presentation h2 {
    font-size: 30px;
    color: var(--color-text);
    font-family: 'Seasons', sans-serif;
    letter-spacing: 3px;
    margin: 0;
}

.contact-presentation p {
    font-size: 23px;
    font-family: 'Garamond', sans-serif;
    /* font-weight: bold; */
    color: var(--color-text);
    letter-spacing: 1px;
    line-height: 30px;
    
}

.contact-presentation h3 {
    font-size: 20px;
    color: var(--color-text);
    font-family: 'Garamond', sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    margin: 0;
}


form {
    width: 50%;
    text-transform: uppercase;
    font-family: 'Garamond', sans-serif;
    /* font-weight: bold; */
    color: var(--color-text);
    letter-spacing: 1px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: space-around;
    padding: 50px 30px;
}

.form-line {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

form label {
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form input {
    /* position: absolute;
    right: 100px; */
    margin: 0;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: var(--color-text) solid 1px;
    font-family: 'Garamond', sans-serif;
    font-weight: bold;
    font-size: 18px ;
    color: var(--color-text);
    letter-spacing: 1px;
}

.react-datepicker-wrapper {
    margin: 0;
    width: 150px;
    border-radius: 20px;
    position: relative;
    right: 10px;
}


.big-label {
    width: 80%;
    height: 180px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.big-label-picture {
  width: 80%;
  height: 100px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.big-label-picture input {
  border: none;
}

.input-file {
  opacity: 0;
}

.false-input-file {
  border: 1px solid var(--color-text);  
  border-radius: 20px ;
  color: var(--color-text);
  background-color: white;
  padding: 10px;
  width: 150px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  text-transform:none ;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.form-button-container button {
    background-color:transparent;
    cursor: pointer;
    padding: 15px;
    letter-spacing: 4px;
    width: 300px;
    margin: 0 auto;
    line-height: 25px;
    color: var(--color-text);
    font-weight: bold ;
    border: 2px solid var(--color-text);
    font-family: 'garamond',sans-serif;
    font-weight: bold;
}

textarea {
  width: 100%;
  font-size: 18px;
  font-family: 'Garamond', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 30px;
  padding:10px ;
  resize: none;
  color: var(--color-text);
  letter-spacing: 1px;
  border-radius: 1px solid var(--color-text);
}

.confirmation {
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 30px;
  font-family: 'Garamond', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  line-height: 50px;
}

.confirmation-icones-reseaux {
  position: absolute;
  width: 50%;
  bottom: 100px;
  display: flex;
  justify-content: space-around;
}
.advice {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform:none;
  font-style: italic;
  font-weight: bold;
}

.warning {

    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform:none;
    font-style: italic;
    font-weight: bold;
    color: red;
  }

  .mail-warning {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform:none;
    font-style: italic;
    font-weight: bold;
    color: red;
  }




 /*Login*/
 .login-container {
  background-color: var(--color-background);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .login-container form {
  border: 2px solid var(--color-text);
  border-radius: 20px;
  width: 20%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .login-container form input {
  border: 2px solid var(--color-text);
  color: var(--color-text);
  letter-spacing: 1px;
  z-index: 1000; 
}

 .login-container form button {
    padding: 10px;
    background-color: var(--color-background);
    border: 2px solid var(--color-text);
    font-family: 'Garamond', sans-serif;
    color: var(--color-text);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
 }


 /*Admin*/
.admin-page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Garamond', sans-serif;
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 20px;
  font-weight: bold;
  z-index: 2000;
  border: 2px solid var(--color-text);
  padding: 50px;
  background-color: var(--color-background);
  border-radius:20px ;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px ;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

#modalConfirmed {
  opacity: 1;
}



.modal .button-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.modal .button-container button{
margin: 20px;
font-size: 18px;
color: var(--color-text);
background-color: var(--color-background);
border-radius: 20px;
border: 2px solid var(--color-text);
font-family: 'Garamond', sans-serif;
padding: 15px;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}

.flou {
  opacity: 0.5;
}

.navbar-admin {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 40px;
  border-bottom: 1px solid var(--color-text);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 17px ;
  font-family: 'Garamond', sans-serif;
  padding: 10px;
  letter-spacing: 1px;
  z-index: 1000;
  background-color: var(--color-background);
}

.pointer{
  cursor: pointer;
}

.navbar-focus {
  text-decoration:underline;
  text-underline-offset: 10px;
}

.navbar-side {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 100px;
  top: 61px;
  background-color: var(--color-background);
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-bottom: 1px solid var(--color-text);
}

.navbar-side div {
  margin: 0 100px;
  display: flex;
  cursor: default;
  align-items: center;
}

.navbar-side input {
cursor: pointer;
}

.hide-navbar-side div {
  opacity: 0.5;
}

.hide-navbar-side input{
  cursor: default;
}

.navbar-side-phone {
  display: none;
}

.cards-container {
  padding-top: 25px;
}

.card-container {
  display: flex;
  flex-direction: column ;
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  text-align: center;
}

.title-card {
  font-family: 'Seasons', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon-delete {
  position: relative;
  left: 40vw;
  bottom: 55px;
  cursor: pointer;
}


.card-line {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.card-content {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding: 0 100px;
}

.card-content p {
  font-size: 20px;
  font-family: 'Garamond', sans-sérif;
  width: 50%;
}



.card strong {
  text-transform: uppercase ;
  font-family: 'Garamond', sans-serif;
  font-size: 18px;
  width: 50%;

}

.card .big-div {
  margin-top: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.card .big-div p {
  width: 100%;
}

.card img {
  width: 300px;
}

.header-card-admin {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-content {
  display: flex;
  flex-direction: column ;
  width: 50%;
  text-align: left;
  justify-content: center;
}

.header-content .card-content {
  padding: 0;
  width: 100%;
}


.card-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-button-container button{
 border-radius: 100px;
 padding: 10px;
 width: 200px;
 background-color: var(--color-background);
 font-family: 'Garamond';
 border: 3px solid var(--color-text);
 color: var(--color-text);
 font-size: 16px;
 font-weight: bold;
}




.card-button-container .on { 
  animation:  pulse 3s infinite;
  cursor: pointer;
}

.card-button-container .on-locked { 
  opacity: 0.5;
  cursor: normal;
}

.card-button-container .on:hover{
  animation:  pulse 3s infinite, colorChange 0.5s forwards;
}

.card-button-container .off{
  background-color: var(--color-text);
  color: var(--color-background);
}

.card-button-container .off-locked{
  background-color: var(--color-text);
  color: var(--color-background);
  opacity: 0.5;
  cursor: normal;
  animation: none;
}

.card-button-container .special {
  background-color: var(--color-text);
  color: var(--color-background);
  cursor: pointer;
}



.progression {
  height: 5px;
  width: 200px;
}

.progression-done {
  background-color: var(--color-text);
  opacity: 0.5;
}







/* CALENDAR */

.calendar-container {
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  font-size: 25px;
}

.calendar {
  line-height: 35px;
}

.calendar-month {
  display: flex;
  justify-content: space-around;
}

.calendar-month button {
  background-color: var(--color-background);
  border: 2px solid var(--color-text);
  color: var(--color-text);
  font-family: 'Garamond' sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.date {
  opacity: 0.5;
  cursor: pointer;}

.rdv {
  width: 100%;
  font-weight: bold;
  font-size: 27px;
  cursor: pointer;
}

.trait {
  width: 30%;
  border: 1px solid var(--color-text);
  margin-top: 50px;
}

.date-selected {
  background-color: var(--color-text);
  color: var(--color-background);
  border-radius: 50px;
  padding: 5px;
}

.free {
  opacity: 1;
}

.not-free {
  opacity: 0.5;
}


.porout {
  color: #e0ac6b;
  
}

.change-date 
{
  visibility: hidden;
  display: flex;
  position: absolute;
  font-size: 25px;
  width: 100%;
  justify-content: center;
  top: 500px;
  font-weight: bold;
}

.change-date button {
  margin-left: 20px;
  border-radius: 100px;
  width: 100px;
  background-color: var(--color-background);
  font-family: 'Garamond';
  border: 3px solid var(--color-text);
  color: var(--color-text);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  animation:  pulse 3s infinite;

  
}
.change-date button:hover {
  animation:  pulse 3s infinite, colorChange 0.5s forwards;
}




/* IMAGES */
.first-sight-left-content {
  background-image: url('../utils/img/first-sight1.webp');
  background-size: cover;
  background-position: 0px 40px;
}


.cache {
  display: none;
}

.about {
  padding: 45px 0px;
  display: flex;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Garamond';
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.img-morgane-container {
  margin-bottom: 50px;
}

.about-text-container {
  padding: 0 50px;
}

.about-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.about h2 {
  font-family: 'Garamond';
}

.about-header p {
  margin: 5px;
}

.about span {
  font-style: italic;
}

.about-icones-reseaux {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.toHide {
  display: none;
}

@media (max-width: 1025px) {

  .cache {
    display: block;
  }


  .false-input-file {
    bottom: 10px;
  }

  .navbar-dropdown {
    position: absolute;
    top: 5px;
    left: 5px;
    visibility: visible;
    display: block;
    border: 2px solid var(--color-text);
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 10px;
    font-family: 'Garamond',sans-serif;
    font-weight: bold;
    z-index: 10000;
  }

  

  .navbar-client {
    visibility: hidden;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-right: 2px solid var(--color-text);
    position: fixed;
  }
  .second-sight-icon-down {
    top: 0;
  }
  .contact-content {
    padding-left: 50px;
  }
  .contact-energie {
    padding-left: 50px;
  }
  .first-sight-left-content {
    background-position: 0px 0px;
  }
  #com .img-container {
    background-position: -400px 0;
  }
  #com1 .img-container {
    background-position: -200px 0;
  }
  #rec .img-container {
    background-position: -350px 0px;
  }
  #rec1 .img-container {
    background-position: -300px 0px;
  }
  #rec2 .img-container {
    background-position: -100px 0px;
  }
  #bio .img-container {
    background-position: -900px 0;
  }
  #bio1 .img-container {
    background-position: -700px 0px;
  }
  #bio2 .img-container {
    background-position: -700px 0;
  }
  #ora .img-container {
    background-position: -500px 0;
  }
  #ora1 .img-container {
    background-position: -500px 0;
  }
  #rdv .img-container {
    background-position: 0 0;
  }
  .third-sight .first-line  {
    flex-direction: column;
  }
  .third-sight .first-line div {
    margin-bottom: 50px;
  }
  .third-sight .second-line {
    flex-direction: column;
  }
  .third-sight .second-line div {
    margin-bottom: 50px;
  }
  .navbar-side {
    height: 80px;
  }
  .navbar-side div{
    margin: 0 50px;
  }
  .toHide { display: block;}
  
  #navbar-serv {
    display: none;
  }
}


@media (max-width: 820px) { 

  .deco {
    display: none;
  }

  .card-container {
    padding: 20px 0;
  }

.navbar-dropdown-admin {
  position: absolute;
  top: 5px;
  left: 5px;
  visibility: visible;
  display: block;
  border: 2px solid var(--color-text);
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 10px;
  font-family: 'Garamond',sans-serif;
  font-weight: bold;
  z-index: 10000;
}
.navbar-admin {
  visibility: hidden;
  flex-direction: column;
  width: auto;
  height: 100%;
  border-right: 2px solid var(--color-text);
}

.navbar-side {
  display: none;
}

.navbar-side-phone {
  display: flex;
  position: static;
  flex-direction: column;
  border-bottom: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--color-text);
  height: 20%;
  padding-top: 0px;
  justify-content: space-around;
  font-size: 20px;
}

.card-button-container {
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}
.card-line {
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.progression {
  display: none;
}
.card-content {
  flex-direction: column ;
  padding: 10px;
}
.card-content p {
  width: auto;
}
.card .big-div {
  width: auto;
}
}



@media (max-width: 769px) { 
  .avis-container {
    flex-direction: column;
  }
  .avis {
    width: 80%;
  }
  .navbar-client {
    width: 25%;
  }

  .contact-bio, .contact-com, .contact-ora, .contact-rec {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .contact-bio .contact-presentation, .contact-com .contact-presentation, .contact-ora .contact-presentation, .contact-rec .contact-presentation {
    width: 90%;
    padding: 0;
  }
  .contact-bio .navbar-client, .contact-com .navbar-client, .contact-ora .navbar-client, .contact-rec .navbar-client {
    position: fixed;
    left: 0;
  }



  form {
    width: 90%;
  }

  #com .img-container {
    background-position: -550px 0;
  }
  #com1 .img-container {
    background-position: -400px 0;
  }
  #rec .img-container {
    background-position: -600px 0;
  }
  #rec1 .img-container {
    background-position: -550px 0;
  }
  #bio .img-container {
    background-position: -1350px 0;
  }
  #bio1 .img-container {
    background-position: -1000px 0px;
  }
  #bio2 .img-container {
    background-position: -1000px 0;
  }
  #ora .img-container {
    background-position: -800px 0;
  }
  #ora1 .img-container {
    background-position: -700px 00px;
  }
  #rdv .img-container {
    background-position: -100px 0;
  }

  .about-text-container {padding: 0 15px;

  }
  .img-morgane-container {
    display: none;
  }
}

@media (max-width: 426px) { 

  .navbar-client {
    font-size: 15px;
    width: 40%;
  }

 .first-sight-container, .second-sight, .third-sight,
  .acceuil-presentation-containe r,.acceuil-presentation-content, .acceuil-rendez-vous, 
  .avis-container, .contact-container, .third-sight .first-line {
  flex-direction: column;
 }


 .avis {
  padding: 0;
 }

 .first-sight-container {
  position: static;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
 }

 .first-sight-content {
  width: 100%;
  height: 1000px;
 }
 .first-sight-left-content {
  display: none;
  visibility: hidden;
 }

 .second-sight {
  height: 1500px;
 }

 .third-sight {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .third-sight img {
  display: none;
 }


 .third-sight div {
  width: 90%;
  height: auto;
  justify-content: space-around;
 }

 /* .third-sight .first-line div {
  height: auto;
 } */

 .third-sight .first-line {
  padding-top: 50px 50px;
  display: flex;
  justify-content: space-around;
  margin: 0;
 }

 .acceuil-presentation-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .acceuil-presentation-content .text-container {
  width: 90%;
  padding: 40px 0;
 }

 .acceuil-presentation-container img {
  display: none;
 }

 .acceuil-rendez-vous {
  display: flex;
}

.acceuil-rendez-vous .img-container {display: none;}

 .acceuil-rendez-vous .text-container {
  width: 100%;
  padding: 0;
 }


 .contact-container {
  justify-content: center;
  background-color: var(--color-background);
 }
.contact-container img{
  display: none;
}

 .contact-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
  top: 0;
 }

 .contact-services {
  height: 300px;
 }

 .contact-icones-reseaux {
  width: auto;
  flex-direction: column;
  position: absolute;
  left: 320px;
  justify-content: center;
 }

 .contact-icones-reseaux a {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.recform, .comform, .bioform, .oraform {
  padding: 20px 0px;
}
.form-line {
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  
}
label {
  padding: 10px 0;
}

.big-label {margin-bottom: 30px;}

#com .img-container {
  width: 90%;
  height: 90vh;
  background-position: -50px 0;
  margin-top: 30px;
} 

#com1 .img-container  {
  width: 90%;
  height: 90vh;
  background-position: -50px 0;
  margin-top: 30px;
}

#com1 {
  flex-direction: column-reverse;
}
#rec .img-container  {
  width: 90%;
  height: 90vh;
  background-position: -100px 0;
  margin-top: 30px;
}

#bio .img-container  {
  width: 90%;
  height: 90vh;
  background-position: -150px 0;
  margin-top: 30px;
}

#bio {
  flex-direction: column-reverse;
}

#bio1 .img-container  {
  width: 90%;
  height: 90vh;
  background-position: -200px 0;
  margin-top: 30px;
}

#bio2 .img-container  {
  width: 90%;
  height: 90vh;
  background-position: -400px 0;
  margin-top: 30px;
}

#bio2 {
  flex-direction: column-reverse;
}
#ora .img-container  {
  width: 90%;
  height: 90vh;
  background-position: -300px 0;
  margin-top: 30px;
}

#ora1 .img-container  {
  width: 90%;
  height: 90vh;
  background-position: -250px 0;
  margin-top: 30px;
}
#ora1 {
  flex-direction: column-reverse;
}

.acceuil-rendez-vous {
  justify-content: space-around;
}

#rdv .img-container  {
  width: 100px;
  height: 100px;
}
.about-icones-reseaux {
  flex-direction: column;
  margin-top: 50px;
  height: 500px;
}
}





@media (max-width: 376px) {
  .contact-icones-reseaux {
    width: 20px;
    font-size: 10px; 
    position: relative;
    bottom: 200px;
    left: 230px;
   }

   .first-sight-container .third-text {
    font-size: 30px;
}
.navbar-client {
  width: 50%;
}
.second-sight-icon-down {
 display: none;
}

}




.politic-text  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 50px;
  font-size: 25px;
  font-family: 'garamond', sans-serif;
  line-height: 35px;
}

.politic-link-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  font-family: serif;
}